Wrong ordering of "path" statement

Validating the Core IM 1.4.1 with pyang --lint core-model.yang
results in 
core-model-1-4.yang:1694: error: keyword "path" not in canonical order (see RFC 6020, Section 12)

(Might already be fixed with updating the UML2YANG for translating the tech.spec. extension.)

- In UML2YANG tool , by default the "require-instance" will be generated after the "path" statement. This behavior of the tool fixes the canonical order issue.
- We also generated a [ReleaseCandidate#1](https://github.com/openBackhaul/core/blob/tsp/CoreModel_1.4.1_tsp.211221.1359+yang.2.zip) for the core-model and able to see the correct canonical order. 
- But , as per the proposal in [core/issues/17](https://github.com/openBackhaul/core/issues/17) , the require-statement of the leafref shall be "false" and not "true".
```
leaf-list physical-port-reference {
      type leafref {
        path "/core-model:control-construct/core-model:equipment/core-model:uuid";
        require-instance false;
      }
      description
        "One or more text labels for the unmodeled physical port associated with the LTP.
         In many cases there is no associated physical port.";
    }
```
- This will be available if we generate and publish a new release of the core-model-1-4.

> Related issue https://github.com/openBackhaul/core/issues/10

As per the decision made in the issue https://github.com/openBackhaul/core/issues/10 , 

> Decision : The "pruning and refactoring" step should prune the "LogicalTerminationPoint:physicalPortRefernce[*]". As the result the "physical-port-reference" will be removed from the core-model-1-4.yang.

This issue is obsolete.

**Ad-hoc decision in 5G-xHaul call 2023-05-31:**

This issue is now obsolete due to the decision made in #10 .
-> closed
